@import '../../both/components/Footer/Footer';
@import '../../both/components/FeedItem/FeedItem';
@import '../../both/components/CreatePost/CreatePost';
@import '../../both/components/ParamsExample/ParamsExample';
@import '../../both/components/CommentItem/CommentItem';
@import '../../both/components/Header/Header';
