// Feed page, components hand their own styling

.feed {
  .container {
    display: flex;
  }

  .trending-posts {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      list-style-type: none;
    }
  }
}

