// scope css to component
.feed-item {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 100px;
  padding: 10px 10px 0 10px;
  background: white;
  border: 1px solid #D2D2D2;
  font-size: 14px;
  margin-bottom: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);

  .avatar {
    height: 40px;
    width: 40px;
    background: gray;
  }


  &__header {
    display: flex;
    margin-bottom: 14px;

    .name {
      margin: 0 0 3px 15px;
      color: $primary;
      font-weight: bold;
    }

    .date {
      color: gray;
      font-size: 13px;
      margin-left: 15px;
    }

    .name-date { flex: 1; }
    .destroy {
      font-size: 13px;
      color: gray;
      cursor: pointer;
    }
  }


  &__footer {
    font-size: 13px;
    height: 23px;
    margin-top: 10px;

    a { margin-right: 10px; }
    .by-people { margin-left: 20px; }
  }

  &__comments {
    margin-left: -10px;
    margin-right: -10px;
    padding: 7px 10px;
    background-color: #F7F8FA;
    border-top: 1px solid #E5E5E5;

    input {
      border: 1px solid #CFCFCF;
      padding: 6px;
      font-size: 12px;
      width: 100%;

      &:placeholder {
        font-size: 10px;
      }
    }

    .comment-form {
    }
  }

}


