// scope css to component
.feed-item {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 100px;
  margin-bottom: 12px;
  padding: 10px 10px 0 10px;
  background: white;
  border: 1px solid #d3d3d3;
  font-size: 14px;
  line-height: 1.4em;
  color: #242424;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  border-bottom-color: #bebebe;

  .avatar {
    height: 40px;
    width: 40px;
    background: gray;
  }

  &__header {
    display: flex;
    margin-bottom: 14px;

    .name {
      margin: 0 0 3px 15px;
      color: $primary;
      font-weight: bold;
    }

    .date {
      color: gray;
      font-size: 13px;
      margin-left: 15px;
    }

    .name-date { flex: 1; }
    .destroy {
      font-size: 13px;
      color: gray;
      cursor: pointer;
    }
  }

  &__footer {
    font-size: 13px;
    height: 23px;
    margin-top: 10px;

    a { margin-right: 10px; }
    .by-people { margin-left: 20px; }
  }

  &__comments {
    margin-left: -10px;
    margin-right: -10px;
    padding: 7px 10px;
    background-color: #f7f8fa;
    border-top: 1px solid #e5e5e5;

    input {
      border: 1px solid #cfcfcf;
      padding: 6px;
      font-size: 12px;
      width: 100%;

      &:placeholder {
        font-size: 10px;
      }
    }

    .comment-form {
    }
  }

}

// TODO move to correct place
.more-btn {
  padding: 7px 15px;
  margin: 10px 0 20px 200px; // FIXME
  background-color: $primary;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

